$white:  #fff;
$black:  #000;
$red:    #D14141;
$orange: #f0ad4e;
$yellow: #ffd500;
$green:  #39AD7E;
$blue:   #2FADC4;
$teal:   #5bc0de;
$pink:   #ff5b77;
$purple: #655FAF;

$gray-dark: #292b2c;
$gray: #464a4c;
$gray-light: #636c72;
$gray-lightish: #9ca0a2;
$gray-lighter: #eceeef;
$gray-lightest: #f7f7f9;
