html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $gray-lightest;
}

input[type="date"] {
  &::-webkit-clear-button,
  &::-webkit-inner-spin-button {
    display: none;
    opacity: 0;
  }
}
